{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'criar-filmes' %}">Cadastrar Filme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_usuario' %}">Sair da conta</a>
                </li>
            </ul>
        </nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link {% if not request.GET.categoria %}active{% endif %}" href="{% url 'listar-filmes' %}">Todos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'acao' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=acao">Ação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'comedia' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=comedia">Comédia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'drama' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=drama">Drama</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'suspense' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=suspense">Suspense</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'terror' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=terror">Terror</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'ficcao' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=ficcao">Ficção Científica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.categoria == 'romance' %}active{% endif %}" href="{% url 'listar-filmes' %}?categoria=romance">Romance</a>
          </li>
        </ul>
    </header>

    <main>
        {% block content %}
        <!-- Conteúdo específico da página será renderizado aqui -->
        {% endblock %}
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
